# This file is a template, and might need editing before it works on your project.
# Official language image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/python/tags/
# python3.6 in ubuntu:bionic
image: continuumio/miniconda3:4.9.2

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  TWINE_USERNAME: "__token__"
  TWINE_PASSWORD: "$PYPI_TOKEN"

before_script:
  - conda env create -f environment.yml
  - source activate blocksim

cache:
  paths:
    - pip-cache

stages:
  - test
  - deploy

test:
  stage: test
  script:
    - tox -e py3
    - codecov
    - coverage html
  artifacts:
    when: always
    paths:
      - results
      - htmlcov

doc:
  stage: test
  script:
    - conda env update --file docs/environment.yml
    - READTHEDOCS=True python3.6 setup.py develop
    - READTHEDOCS=True python3.6 setup.py doc
    - mv docs/_build/html htmldoc
  artifacts:
    paths:
      - htmldoc

publish_rtd:
  stage: deploy
  dependencies:
  - test
  rules:
    - if: $CI_COMMIT_TAG =~ /^v.*/
      when: always
  script:
    - apt-get install -yqq --no-install-recommends curl
    - 'curl --insecure -d "" -X POST -H "Authorization: Token $RTD_TOKEN" https://readthedocs.org/api/v3/projects/blocksim/versions/latest/builds/'

publish_pypi:
  stage: deploy
  dependencies:
  - test
  rules:
    - if: $CI_COMMIT_TAG =~ /^v.*/
      when: always
  script:
    - python3.6 setup.py sdist
    - pip wheel --no-index --no-deps --wheel-dir dist dist/*.tar.gz
    - twine upload dist/*
