image: ubuntu:jammy

stages:
  - test
  - deploy
  - release

test:
  stage: test
  script:
    - export DEBIAN_FRONTEND=noninteractive DEBCONF_NONINTERACTIVE_SEEN=true
    - echo "tzdata tzdata/Areas select Europe" > preseed.txt && echo "tzdata tzdata/Zones/Europe select Paris" >> preseed.txt
    - debconf-set-selections preseed.txt
    - apt-get update --allow-releaseinfo-change && apt-get install -yqq --no-install-recommends python3-pip python3-dev python3-venv graphviz libblas-dev liblapack-dev cmake gfortran gcc g++ make libproj-dev proj-data proj-bin libgeos-dev curl
    - python3 --version
    - pip3 install pdm
    - PDM_BUILD_SCM_VERSION=0.0.0.dev+${CI_COMMIT_SHA} pdm install
    - PDM_BUILD_SCM_VERSION=0.0.0.dev+${CI_COMMIT_SHA} pdm build
    - PDM_BUILD_SCM_VERSION=0.0.0.dev+${CI_COMMIT_SHA} pdm run pytest
    - PDM_BUILD_SCM_VERSION=0.0.0.dev+${CI_COMMIT_SHA} pdm doc
  artifacts:
    when: always
    paths:
      - build/htmldoc

# https://ydethe.gitlab.io/blocksim/htmldoc/blocksim/
pages:
  stage: deploy
  dependencies:
  - test
  script:
    - export DEBIAN_FRONTEND=noninteractive DEBCONF_NONINTERACTIVE_SEEN=true
    - echo "tzdata tzdata/Areas select Europe" > preseed.txt && echo "tzdata tzdata/Zones/Europe select Paris" >> preseed.txt
    - debconf-set-selections preseed.txt
    - apt-get update --allow-releaseinfo-change && apt-get install -yqq --no-install-recommends python3-pip python3-dev python3-venv
    - pip3 install pdm
    - cp -r build/htmldoc public
    - pdm config --global repository.gitlab.url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi
    - pdm config --global repository.gitlab.username gitlab-ci-token
    - pdm config --global repository.gitlab.password ${CI_JOB_TOKEN}
    - pdm publish -r gitlab
  artifacts:
    paths:
      - public
