image: ubuntu:22.04

stages:
  - test
  - deploy
  - release

test:
  stage: test
  script:
    - apt-get update --allow-releaseinfo-change
    - apt-get install -yqq --no-install-recommends git python3-venv python3-dev python3-pip graphviz libblas-dev liblapack-dev cmake gfortran gcc g++ make libproj-dev proj-data proj-bin libgeos-dev curl
    - python3 --version
    - curl -sSL https://raw.githubusercontent.com/pdm-project/pdm/main/install-pdm.py | python3 -
    - export PATH=/root/.local/bin:$PATH
    - pdm venv create
    - pdm use .venv/bin/python
    - source .venv/bin/activate
    - pdm install
    - pdm run pytest
    - pdm doc
  artifacts:
    when: always
    paths:
      - htmldoc

# https://ydethe.gitlab.io/blocksim/htmldoc/blocksim/
pages:
  stage: deploy
  dependencies:
  - test
  script:
    - cp -r htmldoc public
  artifacts:
    paths:
      - public

package:
  stage: deploy
  dependencies:
  - test
  script:
    - apt-get update --allow-releaseinfo-change
    - apt-get install -yqq --no-install-recommends git python3-venv curl
    - curl -sSL https://raw.githubusercontent.com/pdm-project/pdm/main/install-pdm.py | python3 -
    - export PATH=/root/.local/bin:$PATH
    - pdm config --global repository.gitlab.url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi
    - pdm config --global repository.gitlab.username gitlab-ci-token
    - pdm config --global repository.gitlab.password ${CI_JOB_TOKEN}
    - pdm build
    - pdm publish -r gitlab
  only:
    - tags
    - master
