# This file is a template, and might need editing before it works on your project.
# Official language image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/python/tags/
# python3.7 in ubuntu:bionic
# image: continuumio/miniconda3:4.9.2
image: ubuntu:bionic

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  TWINE_USERNAME: "__token__"
  TWINE_PASSWORD: "$PYPI_TOKEN"

cache:
  paths:
    - pip-cache

stages:
  - build
  - test
  - deploy

setup-job:
  stage: .pre
  script:
    - export DEBIAN_FRONTEND=noninteractive DEBCONF_NONINTERACTIVE_SEEN=true
    - echo "tzdata tzdata/Areas select Europe" > preseed.txt
    - echo "tzdata tzdata/Zones/Europe select Berlin" >> preseed.txt
    - debconf-set-selections preseed.txt
    - apt-get update
    - apt-get install -y python3-dev python3-pip python3-venv libblas-dev liblapack-dev cmake gfortran gcc g++ make

build-job:
  stage: build
  before_script:
    - python3 -m venv blocksim
    - source blocksim/bin/activate
    - python --version
    - pip3 install scikit-build numpy https://box.johncloud.fr/slycot-0.4.0-cp36-cp36m-linux_x86_64.whl
    - pip3 install -r requirements_test.txt
    - python3 setup.py develop
    - pip3 install -r docs/requirements.txt
  script:
    - python3 setup.py sdist
    - pip3 wheel --no-index --no-deps --wheel-dir dist dist/*.tar.gz
  artifacts:
    when: always
    paths:
      - dist
    expire_in: 20 minutes

test:
  stage: test
  script:
    - python3 setup.py develop
    - python3 -m pytest --mpl --mpl-generate-summary=html --mpl-results-path=results --cov blocksim tests --doctest-modules blocksim
    - codecov
    - coverage html
  artifacts:
    when: always
    paths:
      - results
      - htmlcov

doc:
  stage: test
  script:
    - READTHEDOCS=True python3 setup.py develop
    - READTHEDOCS=True python3 setup.py doc
    - mv docs/_build/html htmldoc
  artifacts:
    paths:
      - htmldoc

publish_rtd:
  stage: deploy
  dependencies:
  - test
  rules:
    - if: $CI_COMMIT_TAG =~ /^v.*/
      when: always
  script:
    - apt-get install -yqq --no-install-recommends curl
    - 'curl --insecure -d "" -X POST -H "Authorization: Token $RTD_TOKEN" https://readthedocs.org/api/v3/projects/blocksim/versions/latest/builds/'

publish_pypi:
  stage: deploy
  dependencies:
  - test
  rules:
    - if: $CI_COMMIT_TAG =~ /^v.*/
      when: always
  script:
    - twine upload dist/*
