# This file is a template, and might need editing before it works on your project.
# Official language image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/python/tags/
# python3.7 in ubuntu:bionic
# image: continuumio/miniconda3:4.9.2
image: ubuntu:bionic

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  TWINE_USERNAME: "__token__"
  TWINE_PASSWORD: "$PYPI_TOKEN"

cache:
  paths:
    - pip-cache

stages:
  - build
  - test
  - deploy

build-job:
  stage: build
  script:
    - apt-get update
    - apt-get install python-dev libblas-dev liblapack-dev cmake gfortran gcc g++ make
    - python3 -m venv blocksim
    - source blocksim/bin/activate
    - python --version
    - python3 setup.py develop
    - pip3 install -r docs/requirements.txt
    - python3 setup.py sdist
    - pip3 wheel --no-index --no-deps --wheel-dir dist dist/*.tar.gz

test:
  stage: test
  script:
    - python3 -m pytest --mpl --mpl-generate-summary=html --mpl-results-path=results --cov blocksim tests --doctest-modules blocksim
    - codecov
    - coverage html
  artifacts:
    when: always
    paths:
      - results
      - htmlcov

doc:
  stage: test
  script:
    - READTHEDOCS=True python3 setup.py develop
    - READTHEDOCS=True python3 setup.py doc
    - mv docs/_build/html htmldoc
  artifacts:
    paths:
      - htmldoc

publish_rtd:
  stage: deploy
  dependencies:
  - test
  rules:
    - if: $CI_COMMIT_TAG =~ /^v.*/
      when: always
  script:
    - apt-get install -yqq --no-install-recommends curl
    - 'curl --insecure -d "" -X POST -H "Authorization: Token $RTD_TOKEN" https://readthedocs.org/api/v3/projects/blocksim/versions/latest/builds/'

publish_pypi:
  stage: deploy
  dependencies:
  - test
  rules:
    - if: $CI_COMMIT_TAG =~ /^v.*/
      when: always
  script:
    - twine upload dist/*
