image: python:3.8.16-bullseye

stages:
  - test
  - deploy
  - release

test:
  stage: test
  script:
    - apt-get update --allow-releaseinfo-change && apt-get install -yqq --no-install-recommends python3-dev graphviz libblas-dev liblapack-dev cmake gfortran gcc g++ make libproj-dev proj-data proj-bin libgeos-dev curl
    - pip3 install pdm
    - echo ${CI_COMMIT_TAG:-"0.0.0.dev+$CI_COMMIT_SHORT_SHA"}
    - PDM_BUILD_SCM_VERSION=${CI_COMMIT_TAG:-"0.0.0.dev+$CI_COMMIT_SHORT_SHA"} pdm install
    - PDM_BUILD_SCM_VERSION=${CI_COMMIT_TAG:-"0.0.0.dev+$CI_COMMIT_SHORT_SHA"} pdm build
    - PDM_BUILD_SCM_VERSION=${CI_COMMIT_TAG:-"0.0.0.dev+$CI_COMMIT_SHORT_SHA"} pdm run pytest
    - PDM_BUILD_SCM_VERSION=${CI_COMMIT_TAG:-"0.0.0.dev+$CI_COMMIT_SHORT_SHA"} pdm doc
  artifacts:
    when: always
    paths:
      - build/htmldoc
      - dist

# https://ydethe.gitlab.io/blocksim/htmldoc/blocksim/
pages:
  stage: deploy
  dependencies:
  - test
  script:
    - pip3 install pdm
    - cp -r build/htmldoc public
    - pdm config --global repository.gitlab.url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi
    - pdm config --global repository.gitlab.username gitlab-ci-token
    - pdm config --global repository.gitlab.password ${CI_JOB_TOKEN}
    - pdm publish -r gitlab
  artifacts:
    paths:
      - public
