# This file is a template, and might need editing before it works on your project.
# Official language image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/python/tags/
# python3.7 in ubuntu:bionic
image: continuumio/miniconda3:4.9.2
# image: ubuntu:bionic

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  TWINE_USERNAME: "__token__"
  TWINE_PASSWORD: "$PYPI_TOKEN"

cache:
  paths:
    - pip-cache

stages:
  - test
  - deploy

.before_script_template:
  before_script:
    - export DEBIAN_FRONTEND=noninteractive DEBCONF_NONINTERACTIVE_SEEN=true
    - echo "tzdata tzdata/Areas select Europe" > preseed.txt
    - echo "tzdata tzdata/Zones/Europe select Berlin" >> preseed.txt
    - debconf-set-selections preseed.txt
    - apt-get update
    - conda install mamba
    - mamba env create -f environment_test.yml
    - conda activate bs_env
    - python --version
    - python setup.py develop

test:
  extends: .before_script_template
  stage: test
  script:
    - python -m pytest --mpl --mpl-generate-summary=html --mpl-baseline-path=tests/baseline --mpl-results-path=results --cov blocksim tests --doctest-modules blocksim
    - codecov
    - coverage html
  artifacts:
    when: always
    paths:
      - results
      - htmlcov

doc:
  extends: .before_script_template
  stage: test
  script:
    - READTHEDOCS=True python setup.py develop
    - READTHEDOCS=True python setup.py doc
    - mv docs/_build/html htmldoc
  artifacts:
    paths:
      - htmldoc

publish_rtd:
  stage: deploy
  dependencies:
  - test
  rules:
    - if: $CI_COMMIT_TAG =~ /^v.*/
      when: always
  script:
    - export DEBIAN_FRONTEND=noninteractive DEBCONF_NONINTERACTIVE_SEEN=true
    - echo "tzdata tzdata/Areas select Europe" > preseed.txt
    - echo "tzdata tzdata/Zones/Europe select Berlin" >> preseed.txt
    - debconf-set-selections preseed.txt
    - apt-get update
    - apt-get install -yqq --no-install-recommends curl
    - 'curl --insecure -d "" -X POST -H "Authorization: Token $RTD_TOKEN" https://readthedocs.org/api/v3/projects/blocksim/versions/latest/builds/'

publish_pypi:
  extends: .before_script_template
  stage: deploy
  dependencies:
  - test
  rules:
    - if: $CI_COMMIT_TAG =~ /^v.*/
      when: always
  script:
    - pip3 install docutils twine
    - python setup.py sdist
    - pip3 wheel --no-index --no-deps --wheel-dir dist dist/*.tar.gz
    - twine upload dist/*
