image: continuumio/miniconda3:4.9.2
# image: ubuntu:bionic

variables:
  TWINE_USERNAME: "__token__"
  TWINE_PASSWORD: "$PYPI_TOKEN"

stages:
  - test
  - deploy
  - release

test:
  stage: test
  script:
    - source /opt/conda/etc/profile.d/conda.sh
    - conda install -y mamba -n base -c conda-forge
    - mamba env create -f environment_test.yml
    - conda activate bs_env
    - python setup.py develop
    - python -m pytest --mpl --mpl-generate-summary=html --mpl-baseline-path=tests/baseline --mpl-results-path=results --cov blocksim tests --doctest-modules blocksim
    - python setup.py doc
    - mv docs/_build/html htmldoc
    - codecov
    - coverage html
    - python setup.py sdist
    - pip3 wheel --no-index --no-deps --wheel-dir dist dist/*.tar.gz
  artifacts:
    when: always
    paths:
      - results
      - htmlcov
      - htmldoc
      - dist

publish_rtd:
  stage: deploy
  rules:
    - if: $CI_COMMIT_TAG =~ /^v.*/
      when: always
  script:
    - export DEBIAN_FRONTEND=noninteractive DEBCONF_NONINTERACTIVE_SEEN=true
    - echo "tzdata tzdata/Areas select Europe" > preseed.txt
    - echo "tzdata tzdata/Zones/Europe select Berlin" >> preseed.txt
    - debconf-set-selections preseed.txt
    - apt-get update --allow-releaseinfo-change
    - apt-get install -yqq --no-install-recommends curl
    - 'curl --insecure -d "" -X POST -H "Authorization: Token $RTD_TOKEN" https://readthedocs.org/api/v3/projects/blocksim/versions/latest/builds/'

publish_pypi:
  stage: deploy
  dependencies:
  - test
  rules:
    - if: $CI_COMMIT_TAG =~ /^v.*/
      when: always
  script:
    - export DEBIAN_FRONTEND=noninteractive DEBCONF_NONINTERACTIVE_SEEN=true
    - echo "tzdata tzdata/Areas select Europe" > preseed.txt
    - echo "tzdata tzdata/Zones/Europe select Berlin" >> preseed.txt
    - debconf-set-selections preseed.txt
    - apt-get update --allow-releaseinfo-change
    - apt-get install -yqq --no-install-recommends twine
    - twine upload dist/*

release_job:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latesti
  variables:
    VERSION: `echo $CI_COMMIT_TAG | cut -c 2-`
  script:
    - echo $VERSION
  needs:
    - job: test
      artifacts: true
  rules:
    - if: $CI_COMMIT_TAG =~ /^v.*/
      when: always
  release:
    name: 'Release $CI_COMMIT_TAG'
    description: 'Created using the release-cli'
    tag_name: '$CI_COMMIT_TAG'
    assets:
      links:
        - name: 'Documentation'
          url: 'https://blocksim.readthedocs.io/en/$CI_COMMIT_TAG'
        - name: 'Code coverage'
          url: 'https://app.codecov.io/gl/manawenuz/blocksim/branch/$CI_COMMIT_TAG'
        - name: 'Python package'
          url: 'https://pypi.org/project/blocksim/$VERSION'

pages:
  stage: deploy
  dependencies:
  - test
  rules:
    - if: $CI_COMMIT_TAG =~ /^v.*/
      when: always
  script:
    - mkdir public
    - cp -r htmlcov htmldoc public
  artifacts:
    paths:
      - public

