[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "blocksim"
version = "0.13.4"
description = "A library to simulate a closed-loop system"
license = "MIT"
authors = ["John Gray <manawenuz@johncloud.fr>"]
homepage = "https://gitlab.com/manawenuz/blocksim"
repository = "https://gitlab.com/manawenuz/blocksim"
documentation = "https://blocksim.readthedocs.io/en/latest/"
classifiers = [
    "Topic :: Software Development :: Build Tools",
    "Topic :: Software Development :: Libraries :: Python Modules"
]

[tool.poetry.urls]
"Bug Tracker" = "https://gitlab.com/manawenuz/blocksim/issues"

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
setuptools = "^60.9.0"
matplotlib = "^3.5.1"
numpy = "^1.22.3"
pandas = "^1.4.0"
fastparquet = "^0.8.0"
openpyxl = "^3.0.9"
parse = "^1.19.0"
typer = "^0.4.0"
pyyaml = "^6.0"
requests = "^2.27.1"
scipy = "^1.8.0"
slycot = "^0.4.0.0"
tqdm = "^4.62.3"
cartopy = "<0.20.0"
control = "^0.9.0"
lazy_property = "^0.0.1"
singleton3 = "^1.0"

[tool.poetry.dev-dependencies]
sphinx = "^4.4.0"
sphinx_rtd_theme = "^1.0.0"
sphinx-autoapi =  "^1.8.4"
sphinx-gallery = "^0.10.0"
sphinxcontrib-apidoc = "^0.3.0"
sphinxcontrib-napoleon = "^0.7"
mock = "^4.0.3"
docutils = "<0.18,>=0.14"
pytest = "^6.0"
pytest-cov = "^3.0.0"
pytest-mpl = "^0.13"
black = "^22.1.0"
ipython = "^7.17.0"
pre-commit = "^2.10.1"
codecov= "^2.1.11"
scikit-build = "^0.13.1 "
numpy = "^1.22.3"

panda3d = { version = "^1.10.10", optional = true }

[tool.poetry.extras]
p3d = ["panda3d"]

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "tests --mpl --mpl-generate-summary=html --mpl-baseline-path=tests/baseline --mpl-results-path=results --cov blocksim --doctest-modules blocksim"

[tool.poetry.scripts]
blocksim = "blocksim.main:main"
doc = "devtools.commands:build_doc"
baseline = "devtools.commands:build_baseline"

[tool.poetry.plugins.blocksim]
logger_csv = "blocksim.loggers.CSVLogger"
logger_pickle = "blocksim.loggers.PickleLogger"
logger_xls = "blocksim.loggers.XlsLogger"
